{% extends "layout.html" %}
{% block title %}
About
{% endblock %}
{% block main %}

<div class="container-fluid text-md-start mt-4 text-center-responsive">
	<p>
		<strong>My final project for completion of <a href="https://cs50.harvard.edu/x/2022/">CS 50</a>.</strong>
	</p>
</div>


<div class="container-fluid text-md-start mt-4 text-center-responsive">
    <p>
		<a href="https://github.com/bartsimo/clickbait_prod/blob/main/README.md">Documentation</a>
	</p>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/o-dTGl66qUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    
</div>


{% endblock %}